[Unit]
Description=Gunicorn instance to serve webcomic backend
After=network.target

[Service]
User=ubuntu
Group=www-data
Restart=on-failure
Environment="PATH=/home/ubuntu/webcomic-backend/venv/bin"
WorkingDirectory=/home/ubuntu/webcomic-backend/
ExecStart=sudo bash start-server.sh

[Install]
WantedBy=multi-user.target